<div class="container-exterior">
    <div class="container-interior">
        <div class="text-center">
            <h5>Informacion Basica</h5>
        </div>
        <div class="row">

            <div class="col-md-12 mb-6 mt-3 ">
                <label for="numeroDocumento">Primer nombre</label>
                <input type="text" class="form-control" id="" placeholder="{{persona.primerNombre}}" readonly>
            </div>

            <div class="col-md-12 mb-6 mt-3 ">
                <label for="numeroDocumento">Segundo Nombre</label>
                <input type="text" class="form-control" placeholder="{{persona.segundoNombre}}" readonly>
            </div>

            <div class="col-md-12 mb-6 mt-3 ">
                <label for="numeroDocumento">Primer Apellido</label>
                <input type="text" class="form-control" placeholder="{{persona.primerApellido}}" readonly>
            </div>

            <div class="col-md-12 mb-6 mt-3 ">
                <label for="numeroDocumento">Segundo Apellido</label>
                <input type="text" class="form-control" placeholder="{{persona.segundoApellido}}" readonly>
            </div>

            <div class="col-md-12 mb-6 mt-3 ">
                <label for="numeroDocumento">Telefono</label>
                <input type="text" class="form-control" placeholder="{{persona.telefono}}" readonly>
            </div>

            <div class="col-md-12 mb-6 mt-3 ">
                <label for="numeroDocumento">Direccion</label>
                <input type="text" class="form-control" placeholder="{{persona.direccion}}" readonly>
            </div>

            <div class="col-md-12 mb-6 mt-3 ">
                <label for="numeroDocumento">Ciudad de Residencia</label>
                <input type="text" class="form-control" placeholder="{{persona.ciudadResidencia}}" readonly>
            </div>

            <button class="custom-btn mt-4 w-100" (click)="redirigirAHome()">Regresar a Busqueda</button>

        </div>
    </div>
</div>